# Programação e Machine Learning

## Aula 1

In [ ]:
print('Hello World')

Hello World

## Aula 2

### Exercício

#### 1

Faça um algoritmo que receba dois números e mostre a subtração do primeiro pelo segundo.

ALGORITMO

DECLARE N1,N2, SUB NUMERICO

LEIA N1, N2

SUB ← N1 - N2

ESCREVA SUB

FIMALGORITMO

In [ ]:
x1 = float(input('Digite o primeiro número: ').replace(',','.'))
x2 = float(input('Digite o segundo número: ').replace(',','.'))
print('1º Número: ',x1,'\n2º Número: ',x2)
result = x1-x2
print('O resultado é: ',result)

Digite o primeiro número: 10
Digite o segundo número: 5
1º Número:  10.0
2º Número:  5.0
O resultado é:  5.0

#### 2

Faça um algoritmo que receba o volume de vendas de 3 armazéns e mostre o volume total.

ALGORITMO

DECLARE V1,V2, V3, VTOTAL NUMERICO

LEIA V1, V2, V3

VTOTAL ← V1 + V2 + V3

ESCREVA VTOTAL

FIM

ALGORITMO

In [ ]:
x1 = float(input('Digite o primeiro volume de vendas: ').replace(',','.'))
x2 = float(input('Digite o segundo volume de vendas: ').replace(',','.'))
x3 = float(input('Digite o terceiro volume de vendas: ').replace(',','.'))
print('1º Número: ',x1,'\n2º Número: ',x2,'\n3º Número: ',x3)
result = x1+x2+x3
print('O resultado é: ',result)

Digite o primeiro volume de vendas: 10
Digite o segundo volume de vendas: 40
Digite o terceiro volume de vendas: 50
1º Número:  10.0
2º Número:  40.0
3º Número:  50.0
O resultado é:  100.0

#### 3

Faça um algoritmo que receba o salário base de um funcionário e calcule seu salário final
após 10% de aumento e do recebimento de uma gratificação de $50.00.

ALGORITMO

DECLARE salbase, salfinal NUMERICO

LEIA salbase

salfinal ← salbase + (salbase * 0.1)+50

ESCREVA salfinal

FIM

ALGORITMO

In [ ]:
salbase = float(input('Digite o salário base: ').replace(',','.'))
salfinal = salbase*1.1+50
print('O resultado é:R${:.2f}'.format(salfinal))

Digite o salário base: 100,70
O resultado é:R$160.77

#### 4

Faça um algoritmo que calcule e mostre a área de um triângulo.

ALGORITMO

DECLARE area, base, altura

LEIA base, altura

area ← (base * altura) / 2

ESCREVA area

FIM

ALGORITMO

In [ ]:
base = float(input('Digite o base: ').replace(',','.'))
altura = float(input('Digite o altura: ').replace(',','.'))
area = base*altura/2
print('O resultado é: {:.2f}'.format(area))

Digite o base: 10
Digite o altura: 5
O resultado é:25.00

#### 5

Faça um algoritmo que receba uma medida em pés, faça sua conversão para polegadas, jardas e milhas. Sabe-se que 1 pé = 12 polegadas, 1 jarda = 3 pés e 1 milha = 1760 jarda.

ALGORITMO

DECLARE pes, polegadas, jardas, milhas NUMERICO

LEIA pes,

polegadas ← pes * 12

jardas ← pes / 3

milhas ← jardas / 1760

ESCREVA polegadas, jardas, milhas

FIM
ALGORITMO

In [ ]:
def converter(x):
  pol = x*12
  jar = x/3
  mil = x/1760
  print('O resultado é:','\nPolegadas = {:.2f}'.format(pol),
        '\nJardas = {:.2f}'.format(jar),'\nMilhas = {:.2f}'.format(mil))

In [ ]:
converter(200)

O resultado é:
Polegadas = 2400.00
Jardas = 66.67
Milhas = 0.11

#### 6

Faça um algoritmo que receba 3 números e calcule sua média ponderada.

ALGORITMO

DECLARE V1, V2, V3, P1, P2, P3, MP NUMERICO ´

LEIA V1, V2, V3, P1, P2, P3

MP ← (V1 * P1 + V2 * P2 + V3 * P3)/ (P1 + P2 + P3)

ESCREVA VTOTAL

FIM

ALGORITMO

In [ ]:
def media_ponderada(x,y,z,p1,p2,p3):
  resultado = (x*p1+y*p2+z*p3)/(p1+p2+p3)
  print('O resultado é: {:.2f}'.format(resultado))

In [ ]:
media_ponderada(2,4,6,0.1,0.5,0.4)

O resultado é: 4.60

#### 7

Faça um algoritmo que receba o ano de nascimento de uma pessoa e o ano atual, calcule e mostre: a idade essa pessoa e quantos anos ela teria em 2050.

ALGORITMO

DECLARE idade, anoNasc, ANOatual NUMERICO ´

LEIA anoNasc, ANOatual

idade ← ANOatual - anoNasc

ESCREVA idade

idade ← 2050 - anoNasc

ESCREVA idade

FIM

ALGORITMO

In [ ]:
ano_nascimento = int(input('Digite o ano de nascimento: '))
ano_atual = int(input('Digite o ano atual: '))
idade_atual = ano_atual-ano_nascimento
idade_2050 = 2050 - ano_nascimento
print('Idade atual:',idade_atual,'\nIdade em 2050:',idade_2050)

Digite o ano de nascimento: 1995
Digite o ano atual: 2020
Idade atual: 25
Idade em 2050: 55

#### 2.0

Faça um programa que solicite como entrada um valor de temperatura em graus Celsius (◦C).
e execute a conversão da temperatura para Kelvin (K). Após realizada a conversão mostre na
saída do seu programa a temperatura em Kelvin e a temperatura em graus Celsius. Para realizar
a conversão utilize a relação: K = C + 273, 15;

In [ ]:
celsius = float(input('Temperatura Celsus:').replace(',','.'))
kelvin = celsius +237.15
print('Temperatura em Kelvin:',kelvin)

Temperatura Celsus:200
Temperatura em Kelvin: 437.15

#### 3.0

E hora de dar mais um passo a frente. Com base no seu programa anterior, acrescente a ele a
conversão da temperatura em graus Celsius para Kelvin e graus Celsius para graus Fahrenheit.
Mantenha o mesmo padrão de saída sugerido, acrescentando a conversão para graus Fahrenheit.
Para realizar a conversão utilize a relação: 

K =C + 273, 15 e F =C ∗ 1, 8 + 32

In [ ]:
celsius = float(input('Temperatura Celsus:').replace(',','.'))
kelvin = celsius +237.15
fahrenheit = celsius*1.8+32
print('Temperatura em Kelvin:',kelvin)
print('Temperatura em Fahrenheit:',fahrenheit)

Temperatura Celsus:200
Temperatura em Kelvin: 437.15
Temperatura em Fahrenheit: 392.0

## Aula 3

### Exercícios

#### 1

Faça um Programa que peça dois números inteiros e um número real. Calcule e mostre:

(a) o produto do dobro do primeiro com metade do segundo.

(b) a soma do triplo do primeiro com o terceiro.

(c) o terceiro elevado ao cubo.

In [ ]:
n1 = int(input('1º número inteiro:'))
n2 = int(input('2º número inteiro:'))
n3 = float(input('1º número real:').replace(',','.'))

result1 = 2*n1*n2/2
result2 = 3*n1 + n3
result3 = n3**3

print('\nA) ',result1,'\nB) ',result2, '\nC) ',result3)

#### 2

Faça um programa que leia o salário bruto de uma pessoa em um determinado mês. Calcule e mostre o seu salário líquido no referido mês, sabendo-se que são descontados 11% para o Imposto de Renda, 8% para o INSS e 5% para o sindicato. A saída do programa deve escrever o seguinte texto:

In [ ]:
salary = float(input('Informe seu salário bruto:').replace(',','.'))

ir = salary*0.11
inss = salary*0.08
sindicato = salary*0.05

desconto = ir+inss+sindicato
total = salary - desconto

print('\n(+) Salário bruto: R$',salary,
      '\n(-) IR (11%): R$',ir,
      '\n(-) INSS (8%): R$',inss,
      '\n(-) Sindicato: R$',sindicato,
      '\n(-) Total desconto: R$',desconto,
      '\n(=) Salário Liquido: R$', total)

#### 3
Um determinado prêmio de loteria saiu para um bolão de três amigos. Uma lei garante que todo prêmio de loteria deva pagar um imposto de 7% para os cofres estaduais. Do total descontado o imposto, os amigos irão dividir o prêmio da seguinte maneira:

(a) O primeiro ganhador recebera 46

(b) O segundo recebera 32

(c) O terceiro recebera o restante;

Faça um programa que leia o valor total do prêmio, calcule o desconto, o valor que cada um tem direito e imprima o total do prêmio, o premio descontado o imposto e a quantia recebida por cada um dos ganhadores.

In [ ]:
prize = float(input('Digite o prêmio da loteria: ').replace(',','.'))
tax = prize *0.07
result = prize-tax
A = result*0.46
B = result*0.32
C = result-A-B

print('\n(+) Prêmio bruto: R${:.2f}'.format(prize),
      '\n(-) Imposto (7%): R${:.2f}'.format(tax),
      '\n(=) Prêmio Liquido: R${:.2f}'.format(result),
      '\nPrêmio A: R${:.2f}'.format(A),
      '\nPrêmio B: R${:.2f}'.format(B),
      '\nPrêmio C: R${:.2f}'.format(C))

#### 4

A padaria DuPain vende diariamente uma certa quantidade de pães franceses e uma quantidade de broas. Cada pãozinho custa R$0,80 e a broa custa R$2,50. Do total arrecadado, 43% corresponde aos custos de fabricação. Do restante, Seu joão guarda 15% numa conta de poupan¸ca e 15% ele converte em Euros para sua viagem Anual. Sabe-se que 1 Euro custa R$ 4,60. Com base nestes fatos, façaa um progrma para ler as quantidades de pães e de broas, calcular a venda total de pães e broas, o custo de fabricação, quanto irá guardar na poupançaa e quantos euros irá comprar. 

Ao final exibir os dados calculados.

In [ ]:
sales_bread = int(input('Digite quantos pães foram vendidos: '))
sales_broa = int(input('Digite quantas broas foram vendidas: '))

bread = sales_bread*0.8
broa = sales_broa*2.5
total = bread + broa
fabrication = total*0.43
subtotal = total-fabrication

invest = subtotal*0.15
euro = (subtotal*0.15)/4.6

print('\n(+) Venda Pão: R${:.2f}'.format(bread),
      '\n(+) Venda Broa: R${:.2f}'.format(broa),
      '\n(-) Custo de fabricação: R${:.2f}'.format(fabrication),
      '\n(=) Subtotal: R${:.2f}'.format(subtotal),
      '\nPoupança: R${:.2f}'.format(invest),
      '\nEuro: {:.2f}'.format(euro))

## Aula 4

### Receber velocidade e se for maior do que 80, o condutor será multado por R$5,00 a cada km/h acima de 80. 

Mostre o valor da multa.

In [ ]:
speed = int(input('Escreva a velocidade:'))
if speed >80:
  multa = (speed-80)*5
  print('Foi multado! \nPague: R$',multa)
else:
  print('Tudo normal!')

Escreva a velocidade:100
Foi multado!
Pague: R$ 100

### Receber o valor do salário, se for maior do que 3000 terá imposto de 35%, se for entre 1000 e 3000 reais terá imposto de 20% e se for menor do que 1000 não terá imposto.

Mostre o valor do imposto pago.

In [ ]:
salary = float(input('Escreva o salário:').replace(',','.'))
if salary >3000:
  tax1 = salary*0.35
  print('Imposto a ser pago: R$',tax1)
elif salary>1000:
  tax2=salary*0.2
  print('Imposto a ser pago: R$',tax2)
else:
  print('Nenhum imposto será cobrado.')

Escreva o salário:4000
Imposto a ser pago: R$ 1400.0

### Exercícios

#### 1

Usando estruturas condicionais simples, faça um programa que receba dois números inteiros e mostre qual deles é o maior ou se os dois números são iguais.

In [ ]:
number1 = int(input('Escreva o 1º número:'))
number2 = int(input('Escreva o 2º número:'))
if number1 > number2:
  print('O número %d é maior que o %d'%(number1,number2))
elif number2 >number1:
  print('O número %d é maior que o %d'%(number2,number1))
else:
  print('São iguais!')

Escreva o 1º número:10
Escreva o 2º número:10
São iguais!

#### 2

Faça um novo programa considerando 3 números inteiros.

In [ ]:
number1 = int(input('Escreva o 1º número:'))
number2 = int(input('Escreva o 2º número:'))
number3 = int(input('Escreva o 3º número:'))
if number1 > number2:
  if number1 > number3:
    print('O número %d é maior que o %d e %d'%(number1,number2,number3))
  else:
    print('O número %d é maior que o %d e %d'%(number3,number2,number1))
elif number2 > number1:
  if number2 > number3:
    print('O número %d é maior que o %d e %d'%(number2,number1,number3))
  else:
    print('O número %d é maior que o %d e %d'%(number3,number2,number1))
else:
  print('São iguais')

#### 3 

Usando estruturas condicionais simples, faça um programa que mostre o menu de opções a seguir, receba a opção do usuário e os dados necessários para executar cada operação.
**Menu de opções:**
1. Multiplicar dois números
2. Dividir dois números

Digite a opção desejada:

ALGORITMO

DECLARE opcao, n1, n2, rstd NUMERICO 

ESCREVA “MENU”

ESCREVA “1. MULTIPLICAR DOIS NUMEROS;”

ESCREVA “2. DIVIDIR DOIS NUMEROS;”

ESCREVA “DIGITE A OPCAO DESEJADA”

LEIA opcao

In [ ]:
operation = int(input('Menu: \n1.Multiplicar dois números [Digite 1] \n2.Dividir dois números [Digite 2]\n'))

number1 = int(input('Escreva o 1º número:'))
number2 = int(input('Escreva o 2º número:'))

#### 4

Faça um programa que receba um número inteiro e informe se o mesmo é par ou ímpar.

In [ ]:
number1 = int(input('Escreva o 1º número:'))
if number1//2 != number1/2:
  print('É ímpar!')
else:
  print('É par!')

Escreva o 1º número:0
É par!

#### 5

Faça um programa que receba a altura e o peso de um produto, De acordo com as informações:

1.   Menores do que 1.20 m: até 60 gr “A”, entre 60 e 90 (inclusive) “D”, acima de 90 “G”
2.   De 1.20 m at´e 1.70 m: até 60 gr “B”, entre 60 e 90 (inclusive) “E”, acima de 90 “H”
3. Menores do que 1.70 m: até 60 gr “c”, entre 60 e 90 (inclusive) “F”, acima de 90 “I”

In [ ]:
weight = float(input('Escreva o peso:').replace(',','.'))
height = float(input('Escreva a altura:').replace(',','.'))

if height < 1.2:
  if weight <= 60:
    print('A')
  if weight > 60 and weight < 90:
    print('D')
  if weight > 90:
    print('G')
if height >= 1.2 and height < 1.7:
  if weight <= 60:
    print('B')
  if weight > 60 and weight < 90:
    print('E')
  if weight > 90:
    print('H')
if height > 1.7:
  if weight <= 60:
    print('C')
  if weight > 60 and weight < 90:
    print('F')
  if weight > 90:
    print('I')

#### 6

Faça um programa em c que receba:

1.   O código de um produto comprado, supondo que a digitaço do código do produto seja sempre válida, isto é, um número entre 1 e 10.
2.   O peso do produto em quilos.
3. O código do país de origem, supondo que a digitaço do código seja sempre válida, isto é, um número inteiro entre 1 e 3.
4. Sabendo que:
*   Para País de origem “1” o imposto é de %0;
*   Para País de origem “2” o imposto é de %15;
*   Para País de origem “3” o imposto é de %25;
*   Para o código do produto “1 a 4 ” o preço por grama é $10;

*   Para o código do produto “5 a 7 ” o preço por grama é $25;

*   Para o código do produto “8 a 10 ” o preço por grama é $35;

5. Calcule e mostre:
* O preço do produto convertido em gramas;
* O preço toral do produto comprado;
* O valor do imposto, sabendo que ele é cobrado sobre o preço total do produto comprado e depende do país de origem;
* O valor total preço total do produto mais imposto.

In [ ]:
id_code = int(input('Escreva o código do produto:'))
while id_code < 0 or id_code>10:
  id_code = int(input('Escreva o código do produto em quilos:'))
weight = float(input('Escreva o peso:').replace(',','.'))
weight_grams = weight*1000
country_code = int(input('Escreva o código do país:'))
while country_code < 1 or country_code>3:
  country_code = int(input('Escreva o código do país:'))

weight_grams = weight*1000
if country_code==1:
  if id_code<5:
    print('O peso em gramas é: ',weight_grams)
    print('O preço subtotal é R$:{:.2f}'.format(weight_grams*10))
    print('O imposto é: R$ 0,00')
    print('O preço total é: R${:.2f}'.format(weight_grams*10)*(1))
  if id_code<8 and id_code>4:
    print('O peso em gramas é: ',weight_grams)
    print('O preço subtotal é R$:{:.2f}'.format(weight_grams*25))
    print('O imposto é: R${:.2f}'.format(weight_grams*10*0))
    print('O preço total é: R${:.2f}'.format(weight_grams*10)*(1))
  if id_code>7:
    print('O peso em gramas é: ',weight_grams)
    print('O preço subtotal é R$:{:.2f}'.format(weight_grams*35))
    print('O imposto é: R${:.2f}'.format(weight_grams*10*0))
    print('O preço total é: R${:.2f}'.format(weight_grams*10)*(1))
if country_code==2:
  if id_code<5:
    print('O peso em gramas é: ',weight_grams)
    print('O preço subtotal é R$:{:.2f}'.format(weight_grams*10))
    print('O imposto é: R${:.2f}'.format(weight_grams*10*0.15))
    print('O preço total é: R${:.2f}'.format(weight_grams*10)*(1.15))
  if id_code<8 and id_code>4:
    print('O peso em gramas é: ',weight_grams)
    print('O preço subtotal é R$:{:.2f}'.format(weight_grams*25))
    print('O imposto é: R${:.2f}'.format(weight_grams*25*0.15))
    print('O preço total é: R${:.2f}'.format(weight_grams*25)*(1.15))
  if id_code>7:
    print('O peso em gramas é: ',weight_grams)
    print('O preço subtotal é R$:{:.2f}'.format(weight_grams*35))
    print('O imposto é: R${:.2f}'.format(weight_grams*35*0.15))
    print('O preço total é: R${:.2f}'.format(weight_grams*35)*(1.15))
if country_code==3:
  if id_code<5:
    print('O peso em gramas é: ',weight_grams)
    print('O preço subtotal é R$:{:.2f}'.format(weight_grams*10))
    print('O imposto é: R${:.2f}'.format(weight_grams*10*0.25))
    print('O preço total é: R${:.2f}'.format(weight_grams*10)*(1.25))
  if id_code<8 and id_code>4:
    print('O peso em gramas é: ',weight_grams)
    print('O preço subtotal é R$:{:.2f}'.format(weight_grams*25))
    print('O imposto é: R${:.2f}'.format(weight_grams*25*0.25))
    print('O preço total é: R${:.2f}'.format(weight_grams*25)*(1.25))
  if id_code>7:
    print('O peso em gramas é: ',weight_grams)
    print('O preço subtotal é R$:{:.2f}'.format(weight_grams*35))
    print('O imposto é: R${:.2f}'.format(weight_grams*35*0.25))
    print('O preço total é: R${:.2f}'.format(weight_grams*35)*(1.25))

Escreva o código do produto:5
Escreva o peso:1
Escreva o código do país:1
O peso em gramas é:  1000.0
O preço subtotal é R$:25000.00
O imposto é: R$0.00
O preço total é: R$10000.00

## Aula 5

### Trabalho

#### 1

Faça um programa que receba uma hora formada por hora e minutos (um número real), calcule e mostre a hora digitada apenas em minutos. Lembre-se de que:

• para quatro e meia, deve-se digitar 4.30;

• os minutos vão de 0 a 59;

Observação: para utilizar somente a parte inteira de uma variável real utlilize o comando (int).

Exemplo:
float a, b;
scanf (”%f”, &b);
a = (int) b;
No caso acima, a variável real a armazernará somente a parte inteira do número real armazenado em b.

In [ ]:
time = float(input('Digite a hora desejada:').replace(',','.'))
while (time%1>0.59):
  time = float(input('Digite a hora desejada:').replace(',','.'))
hour = int(time)
minute = (time-hour)*100
total_time = int(hour*60+minute)
print('Tempo total:',total_time)

Digite a hora desejada:3,80
Digite a hora desejada:3,90
Digite a hora desejada:3,5
Tempo total: 230

#### 2

Faça um programa que receba o número de horas trabalhadas, o valor do salário mínimo e o
número de horas extras trabalhadas, calcule e mostre o salário a receber, de acordo com as regras a seguir:

• a hora trabalhada vale 1/8 do salário mínimo;

• a hora extra vale 1/4 do salário mínimo.

In [ ]:
work_time = int(input('Horas trabalhadas:'))
salary = int(input('Valor salário mínimo:'))
extra_hours = int(input('Horas extras:'))
first_salary = work_time*(1/8)*salary
second_salary = extra_hours*(1/4)*salary
total = first_salary+second_salary

print('O salário total: R$',total)

Horas trabalhadas:40
Valor salário mínimo:500
Horas extras:20
O salário total: 5000.0